test_job:
  stage: test
  image: eclipse-temurin:17-jdk-jammy
  services:
    - name: postgres:15-alpine
      alias: db-server  # O Spring vai conectar neste hostname
  variables:
    # Configurações que o container do Postgres vai usar ao subir
    POSTGRES_DB: taskmaster_test
    POSTGRES_USER: admin
    POSTGRES_PASSWORD: password
    # Configurações que o Spring Boot vai usar para achar o banco no pipeline
    SPRING_DATASOURCE_URL: jdbc:postgresql://db-server:5432/taskmaster_test
    SPRING_DATASOURCE_USERNAME: admin
    SPRING_DATASOURCE_PASSWORD: password
    SPRING_JPA_HIBERNATE_DDL_AUTO: update
  script:
    - chmod +x mvnw
    - ./mvnw test