spring:
  application:
    name: taskmaster

  datasource:
    # Usamos variáveis com valores padrão (fallback) para funcionar no IntelliJ e no GitLab
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/taskmaster}
    username: ${SPRING_DATASOURCE_USERNAME:taskmaster}
    password: ${SPRING_DATASOURCE_PASSWORD:taskmaster}
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    # Essencial para bancos que já possuem tabelas
    baseline-on-migrate: true
    baseline-version: 0
    locations: classpath:db/migration

  jpa:
    hibernate:
      # 'validate' garante que o Java e o Banco estão sincronizados sem alterar nada
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}